In [43]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [44]:
original_movies = pd.read_csv("datasets/films/IMDb_movies.csv")
movies = original_movies.drop(["imdb_title_id", "title"], axis = 1)
# movies = movies.drop(["description"], axis = 1)
print(".")

.
C:\Users\44594722\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [45]:
movies["actors"] = movies["actors"].fillna("")
movies["genre"] = movies["genre"].fillna("")

In [46]:
def clean_alt_list(list_):
    list_ = str(list_.split(", "))
    return list_

In [47]:
movies["actors"] = movies["actors"].apply(clean_alt_list).apply(eval)
movies["genre"] = movies["genre"].apply(clean_alt_list).apply(eval)

In [48]:
def to_1D(series):
    i = 0
    actors  = []
    for cast in series:
        for actor in cast:
            actors.append(actor)
    return pd.Series(actors)

In [49]:
actor_value_counts = to_1D(movies["actors"]).value_counts()
genre_value_counts = to_1D(movies["genre"]).value_counts()

In [50]:
def plot_distribution(x):
    x.plot("barh")

In [51]:
#plot_distribution(genre_value_counts)

In [52]:
movies.head(2)

,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,Miss Jerry,1894,1894-10-09,[Romance],45,USA,None,Alexander Black,Alexander Black,Alexander Black Photoplays,"[Blanche Bayliss, William Courtenay, Chauncey ...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,The Story of the Kelly Gang,1906,1906-12-26,"[Biography, Crime, Drama]",70,Australia,None,Charles Tait,Charles Tait,J. and N. Tait,"[Elizabeth Tait, John Tait, Norman Campbell, B...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0

In [53]:
minimum_votes_required = 25000
total_mean_vote = movies["avg_vote"].fillna(0).mean()
votes_number = movies["votes"].fillna(0)
avg_rating = movies["avg_vote"].fillna(0)

In [54]:
wr = (votes_number/(votes_number+total_mean_vote))*avg_rating+(total_mean_vote/(votes_number+total_mean_vote))*total_mean_vote

In [55]:
movies["wr"] = wr

In [56]:
def filter_wr(movie):
    if movie["votes"]<25000:
        movie["wr"] = None
    return movie

In [57]:
movies = movies.apply(filter_wr, axis = 1)

In [58]:
movies = movies.drop(["avg_vote", "reviews_from_users", "reviews_from_critics"], axis = 1)

In [59]:
len(original_movies[original_movies["votes"]<25000])

80759

In [60]:
len(original_movies)

85855

In [61]:
movies.sort_values(by="wr", ascending=False).head(10)

,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,votes,budget,usa_gross_income,worlwide_gross_income,metascore,wr
28453,The Shawshank Redemption,1994,1995-02-10,[Drama],142,USA,English,Frank Darabont,"Stephen King, Frank Darabont",Castle Rock Entertainment,"[Tim Robbins, Morgan Freeman, Bob Gunton, Will...",Two imprisoned men bond over a number of years...,2278845,$ 25000000,$ 28699976,$ 28815245,80.0,9.299991
38406,Hababam Sinifi,1975,1975-04-01,"[Comedy, Drama]",87,Turkey,Turkish,Ertem Egilmez,"Umur Bugay, Rifat Ilgaz",Arzu Film,"[Kemal Sunal, Münir Özkul, Halit Akçatepe, Tar...","Lazy, uneducated students share a very close b...",36269,NaN,NaN,NaN,NaN,9.299447
15528,The Godfather,1972,1972-09-21,"[Crime, Drama]",175,USA,"English, Italian, Latin",Francis Ford Coppola,"Mario Puzo, Francis Ford Coppola",Paramount Pictures,"[Marlon Brando, Al Pacino, James Caan, Richard...",The aging patriarch of an organized crime dyna...,1572674,$ 6000000,$ 134966411,$ 246120974,100.0,9.199988
48078,The Dark Knight,2008,2008-07-23,"[Action, Crime, Drama]",152,"USA, UK","English, Mandarin",Christopher Nolan,"Jonathan Nolan, Christopher Nolan",Warner Bros.,"[Christian Bale, Heath Ledger, Aaron Eckhart, ...",When the menace known as the Joker wreaks havo...,2241615,$ 185000000,$ 535234033,$ 1005455211,84.0,8.999992
16556,The Godfather: Part II,1974,1975-09-25,"[Crime, Drama]",202,USA,"English, Italian, Spanish, Latin, Sicilian",Francis Ford Coppola,"Francis Ford Coppola, Mario Puzo",Paramount Pictures,"[Al Pacino, Robert Duvall, Diane Keaton, Rober...",The early life and career of Vito Corleone in ...,1098714,$ 13000000,$ 47834595,$ 48035783,90.0,8.999983
28381,Pulp Fiction,1994,1994-10-28,"[Crime, Drama]",154,USA,"English, Spanish, French",Quentin Tarantino,"Quentin Tarantino, Roger Avary",Miramax,"[Tim Roth, Amanda Plummer, Laura Lovelace, Joh...","The lives of two mob hitmen, a boxer, a gangst...",1780147,$ 8000000,$ 107928762,$ 222831817,94.0,8.899990
34127,The Lord of the Rings: The Return of the King,2003,2004-01-22,"[Action, Adventure, Drama]",201,"New Zealand, USA","English, Quenya, Old English, Sindarin",Peter Jackson,"J.R.R. Tolkien, Fran Walsh",New Line Cinema,"[Noel Appleby, Ali Astin, Sean Astin, David As...",Gandalf and Aragorn lead the World of Men agai...,1604280,$ 94000000,$ 377845905,$ 1142271098,94.0,8.899989
27629,Schindler's List,1993,1994-03-11,"[Biography, Drama, History]",195,USA,"English, Hebrew, German, Polish, Latin",Steven Spielberg,"Thomas Keneally, Steven Zaillian",Universal Pictures,"[Liam Neeson, Ben Kingsley, Ralph Fiennes, Car...","In German-occupied Poland during World War II,...",1183248,$ 22000000,$ 96898818,$ 322287794,94.0,8.899985
8973,12 Angry Men,1957,1957-09-04,"[Crime, Drama]",96,USA,English,Sidney Lumet,"Reginald Rose, Reginald Rose",Orion-Nova Productions,"[Martin Balsam, John Fiedler, Lee J. Cobb, E.G...",A jury holdout attempts to prevent a miscarria...,668473,$ 350000,NaN,$ 576,96.0,8.899974
57475,Inception,2010,2010-09-24,"[Action, Adventure, Sci-Fi]",148,"USA, UK","English, Japanese, French",Christopher Nolan,Christopher Nolan,Warner Bros.,"[Leonardo DiCaprio, Joseph Gordon-Levitt, Elle...",A thief who steals corporate secrets through t...,2002816,$ 160000000,$ 292576195,$ 869784991,74.0,8.799991