In [281]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [300]:
original_movies = pd.read_csv("datasets/films/IMDb_movies.csv")
movies = original_movies.drop(["imdb_title_id", "original_title"], axis = 1)
movies = movies.drop(["description"], axis = 1)
print(".")

.

In [301]:
movies["actors"] = movies["actors"].fillna("")
movies["genre"] = movies["genre"].fillna("")

In [302]:
def clean_alt_list(list_):
    list_ = str(list_.split(", "))
    return list_

In [303]:
movies["actors"] = movies["actors"].apply(clean_alt_list).apply(eval)
movies["genre"] = movies["genre"].apply(clean_alt_list).apply(eval)

In [304]:
def to_1D(series):
    i = 0
    actors  = []
    for cast in series:
        for actor in cast:
            actors.append(actor)
    return pd.Series(actors)

In [305]:
actor_value_counts = to_1D(movies["actors"]).value_counts()
genre_value_counts = to_1D(movies["genre"]).value_counts()

In [306]:
def plot_distribution(x):
    x.plot("barh")

In [307]:
#plot_distribution(genre_value_counts)

In [308]:
movies.head(2)

,title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,Miss Jerry,1894,1894-10-09,[Romance],45,USA,None,Alexander Black,Alexander Black,Alexander Black Photoplays,"[Blanche Bayliss, William Courtenay, Chauncey ...",5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,The Story of the Kelly Gang,1906,1906-12-26,"[Biography, Crime, Drama]",70,Australia,None,Charles Tait,Charles Tait,J. and N. Tait,"[Elizabeth Tait, John Tait, Norman Campbell, B...",6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0

In [309]:
minimum_votes_required = 25000
total_mean_vote = movies["avg_vote"].fillna(0).mean()
votes_number = movies["votes"].fillna(0)
avg_rating = movies["avg_vote"].fillna(0)

In [310]:
wr = (votes_number/(votes_number+total_mean_vote))*avg_rating+(total_mean_vote/(votes_number+total_mean_vote))*total_mean_vote

In [311]:
movies["wr"] = wr

In [312]:
def filter_wr(movie):
    if movie["votes"]<25000:
        movie["wr"] = None
    return movie

In [313]:
movies = movies.apply(filter_wr, axis = 1)

In [314]:
movies = movies.drop(["avg_vote", "votes", "reviews_from_users", "reviews_from_critics"], axis = 1)

In [317]:
len(original_movies[original_movies["votes"]<25000])

80759

In [318]:
len(original_movies)

85855